# Compilation outputs
Debug/
Release/
*.elf
*.bin
*.hex
*.map
*.o
*.su
*.d

# CubeIDE local workspace settings
.settings/
. Edward/
*.launch
*.vscode

# Core project tracking definitions
!/.project
!/.cproject
!/.gautobuild
!/*.ioc
!/Core/
!/Drivers/