# STM32CubeIDE build output
firmware/Debug/
firmware/Release/
firmware/build/

# Editor/IDE noise
.vscode/
*.swp

# Python
__pycache__/
*.pyc

# Design notes
documentation/notes/

# Other stuff
Proposals and Information/
